.modal{
    display: flex;
    flex-direction: column;
}

   .closeButton{
    width: auto;
    padding: 0;
    margin: 0;
    margin-left: auto;
    background-color:transparent;
    color: black;
   }


.button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;gap: 10px;
}

.button_button{
    padding: 5px 15px;
    border-radius:6px;
    margin-left: auto;
}

.eslatma{

}

.eslatmaspan{
    font-weight: 800;
}