
.favoruteItem{
display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
}

.favoruteImage{
    width: 100px;
    height: 100px;
}

.price_descript{
    display: flex;
    flex-direction: column;
}

.removeBtn{
    margin: 0;
    padding: 15px;
    border-radius:3px;
}

.removeBtn2{
    padding: 0;
    margin: 0;
    border-radius:3px;

}

.removeBtn_p{
    padding: 0;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    margin: 0;
}