/* 
   .title{
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
   h3{
    margin: 0;
    padding: 0;
   }
}

.categoryList {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 0;
    align-items: center;
    padding: 5px;
  }
  
  .categoryItem {
    background-color: #ffecec;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    h3{
        padding: 5px;
        margin: 0;   
        width: 160px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;    
    }
  }
  
  .cart {
    text-decoration: none;
    color: black;
  } 
  
  .yellow_star {
    color: rgb(214, 214, 85);
  }
  
  .star_gray {
    color: black;
  }
  
  .image {
    aspect-ratio: 4 / 3;
    width: 100%;
    object-fit: contain;
  }
  
  .star {
    display: flex;
    flex-direction: row;
  }
  
  .productPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin: 0;
    padding: 5px;

  }
  
  .productPrice h4 {
    margin-right: auto;
    padding: 0;
    margin: 0;
  }
  
  .productPrice button {
    border-radius: 17px;
    color: white;
    padding: 14px;
    margin: 0;
    border-radius:5px;
  }
  
  .topilmadi{
    height: 100vh;
    width: 100%;
    background-image: url('./images/404bgpage.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    .topilmadiBg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vh;
    }
  } */

  .catergoryListNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  .categoryList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
  .categoryItem {
    display: flex;
    flex-direction: column;
    background: #ffe5e5;
    padding: 10px;
    border-radius:5px
  }
  .cart{

  }
  .image {
  }
  .productPrice {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .button {
    margin: 0;
    padding: 10px;
    border-radius:8px;
    background-color:rgb(228, 83, 83);
  }
