.cartContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}

.CartCenter{
    display: flex;
    flex-direction: column;
    align-items:start;
}

.cartImage{
    width: 100px;
    height: 100%;
    padding: 0;
    margin: 0;
}


.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    button{
        padding: 8px;
        padding-left: 12px;
        padding-right: 12px;
        margin: 0;
        font-size: 17px;
        font-weight: 500;
        outline: none;
        border:0.5px solid rgb(108, 105, 105);
        background-color: transparent;
        border-radius: 12px;
    }

}

.cartCloseCont{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    /* height: 100px; */
}

.sotibOlish{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sotibOlish{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: none;
    padding: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(228, 83, 83);
    padding: 15px ;
    border-radius:10px;
    color: white;
}

.priceSpan{
    font-size: 10px;
    background: #000;
    border-radius:7px;
    padding: 2px;
    color: white;
}

.cartContainers{
    display: flex;
    flex-direction: column;
}

.cartConent{
    flex-grow: 2;
    margin-bottom: auto;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* qora fon */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto;
    width: 300px;
  }
  
