.inputContainer{
    display: flex;
    flex-direction: row;
    background-color:#F2F3F2;
    align-items: center;
    padding: 19px 20px 17px 13px;
    border-radius:12px;
    input{
        border:none;
        background-color: transparent;
        flex-grow: 1;
        font-size: 17px;
    }
    input:focus{
        outline: none;
    }
}

form{
    padding: 0;
    padding-top: 30px;
}


.Navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

