.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 14px;
    border:none;
    border-bottom: 1px solid #8E8E8E;
    margin-bottom: 13px;
    input{
        border: none;
        flex-grow: 1;
    }
    input:focus{
        outline: none;
    }
        button{
            background-color: transparent;
            padding: 0;
            margin: 0;
        }

}


